*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 3rem;
}
nav{
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 3rem;
}
main{
    height: 100%;
    display: grid;
    grid-template-columns: 10fr 3fr;
    #map{
        width: 100%;
        height: 100%;
        background-color: blue;
        .marker{
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background-color: red;
            cursor: pointer;
        }
    }
    aside{
        
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
}












