*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
nav{
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 3rem;
}













